.btn{
    background-color: #8D23F6;
    border: #8D23F6;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border-radius: 0.5rem;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}

.modal{
    background-color: #fff;
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.closeBtn{
    float: right;
}

.title{
    font-weight: bold;
    font-size: 1.1rem;
}

.contentModal{
    display: flex;
    flex-direction: column;
}

.tabList{
    display: flex;
    justify-content: space-between;
}