.navWrapper{
    grid-area: nav;
    padding: 1.5em;
}

.projectName{
    font-weight: normal;
    font-size: 1.7em;
}

.item{
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 0.5em;
    padding: 1em 0;
    margin: 1em 0;

}

a{
    text-decoration: none;
}

img{
    float: left;
    padding-left: 0.8em;
}